<!-- <div class="container mt-5">
      <div class="row">
          <div class="col-md-3">
             <H6> EDUCATION</H6>
          </div>
          <div class="col-md-9">
            <H6>DIA(Dipoma in Machnical Engineering)</H6>
          <p class="text-info">Rhaim Yar Khan ,Pakistan </p>
          <ul>
             <li>Machnical Enineering in Electronics fiels</li>
             <li>Strong  Grip on electronics Devices</li>
          </ul>
          </div>
      </div>
</div> -->

<div class="container mt-5">
      <div class="row">
         <div class="col-md-3">
            <h4 class="text-info fw-bold">CERTIFICATIONS</h4>
         </div>
     
      <div class="col-md-9">
        <h6>JavaScript Mastery Course</h6>
        <a href="#">Udemy</a>
        <ul>
            <li>I have a Strong grip on JavaSript Its very beneficals for our learning 
                framework(Angular)
            </li>
        </ul>
        <h6>Advance CSS Certified</h6>
        <a href="#" class="navlink">W3School</a>
        <ul>
            <li>
                CSS is very Important for Every Designing Purpose,and I have Certified Pro Web Designer
            </li>
        </ul>
      </div>
    </div>
</div>