<div class="container mt-5">
    <div class="row">
        
      <div class="col-md-3">
        <h4 class="fw-bold text-info">EXPERIENCE</h4>
      </div>
      <div class="col-md-9">

        <h5> SimpleLogix </h5> (Frontend Angular Developer)
        <p class="fw-light">Lahoure ,Punjab Pakistan</p>
        <ul>
            <li>Developed and prospered front-end features and functionalities using HTML, CSS, and TypeScript for a web-based application, contributing to a 20% increase in user engagement</li>
            <li>Revamped the performance of front-end code, resulting in faster load times by 80% and an improved user experience.</li>
        </ul>

        <h5>OHS Technologies</h5> (Frontend Developer)
        <p class="fw-light"> Rahim Yar Khan District, Punjab Pakistan</p>
        <ul>
            <li>Developed and prospered front-end features and functionalities using HTML, CSS, and TypeScript for a web-based application, contributing to a 20% increase in user engagement</li>
            <li>Revamped the performance of front-end code, resulting in faster load times by 80% and an improved user experience.</li>
        </ul>

        <h5>CodingHub</h5> (Frontend Developer)
        <p class="fw-light">Rahim Yar Khan District, Punjab Pakistan</p>
        <ul>
            <li>Led the development of a Angular-based user dashboard that generated a 20% increase in revenue and reduced bounce rates by 15%</li>
            <li>Optimized the performance of a Angular application, reducing load times by 50% and improving user engagement, using modern tactics such as lazy loading</li>
        </ul>
        <h5>Self Employed</h5> (Frontend Developer)
        <p class="fw-light">At Home</p>
        <ul>
            <li>Integrated a custom angular component library that saved 100+ development hours and accelerated consistency across multiple projects</li>
            <li>Bestowed to the development of a design system with 7 other developers and participated in code reviews as the associate team lead.</li>
        </ul>

      </div>
    </div>
</div>