<div id="theme">
  <app-header (parentFunc)="changeTheme()"></app-header>
  <app-footer></app-footer>
</div>



<!-- 
  <div class="container mt-5">
      <div class="row">
         <div class="col-md-4">
         
          <ngx-skeleton-loader count="2" appearance="circle" animation="progress"></ngx-skeleton-loader> 
        </div> 
        <div class="col-md-3">

          <div class="card">
            <ngx-skeleton-loader [theme]="ThemeObject.img"></ngx-skeleton-loader>
             <div class="card-body">
             <ngx-skeleton-loader [theme]="ThemeObject.name"></ngx-skeleton-loader>
             <ngx-skeleton-loader [theme]="ThemeObject.disp"></ngx-skeleton-loader>
             <ngx-skeleton-loader [theme]="ThemeObject.disp"></ngx-skeleton-loader>
            </div>
           </div>
        </div> 
      </div>
  </div> -->
<!-- <app-home> </app-home>
 -->
<!-- <app-project-pics></app-project-pics> -->