 <div class="container-fluid bg-image" style="background-image:url('assets/developer.jpg');height: 100vh;">
    <div class="row">
      <div class="col-md-6 mt-5">
      <h1>Hire Me As A <br>Web Developer <br>Great Skills Elite.</h1>

      <button class="btn btn-danger mt-3">
        <a href="assets/myCV.pdf" download="FA Resume.pdf" class="nav-link">
             Download Resume
             <i class="bi bi-download fs-5  ms-2"></i>
        </a>
    </button>
      </div>
      <div class="col-md-6 mt-5">
             <h4>I am FullStack Developer, who are excited about unique ideas and help.</h4>
     
    <!-- Pandig code (Error) -->
      <!-- <button class="btn btn-danger mt-5 ms-4">
        <a [href]="fileUrl" download="document.pdf" class="nav-link">
          DownloadCV 
          <i class="bi bi-download fs-5  ms-2"></i>
        </a>
      </button> -->

      </div>
    </div>
  </div>