
 <div class="container mt-5">
      <div class="row">
        <h5>Hey, I am</h5>
      </div>
      <div class="row mt-3">
             <div class="col-md-5">
              <h1 class="text-warning display-2 fw-bold">
                Faizan Ali
              </h1>
             </div>  
      </div>
      <div class="row">
        <ul>
            <li>A dude who ❤️ the frontend aspect of web development.</li>
            <li>A pilot who crash-landed on a webpage (literally).</li>
            <li>A beardo who drinks coffee for the day and pumps code for the night</li>
        </ul>
      </div>
      <div class="row">
        <p class="mt-3">I always aspired to be a fighter pilot and was an avid fan of the Ace Combat game series. Then I saw a dude edit out his grades by editing the HTML of the webpage, and I fell in love.</p>
        <p  class="mt-3">I love learning new things and keeping myself up-to-date in the boiling mess of a world called Web Development. Right now, I'm learning GSAP in order to make those cool animations, other than getting my head around Angular and React Query, of course.</p>

      </div>
 </div>

<!-- <app-education></app-education> -->

<app-experience> </app-experience>

<!-- <app-project-pics></app-project-pics> -->
   <app-skills></app-skills>